# Firebase files
.firebase/
.firebaserc
firebase-debug.log
firebase.json

# Node.js (functions)
functions/node_modules/
functions/lib/
functions/*.log
functions/.env
functions/.env.*

# React frontend (if hosted via Firebase Hosting)
**/node_modules/
**/build/
**/dist/
**/lib/

# Ignore macOS metadata files
.DS_Store

# Ignore environment 